#soundboard {
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(219, 0, 0),
    rgb(255, 222, 59)
  );
  height: "100vh";
  z-index: 1;
}

.pad-row {
  display: "flex";
  padding-top: 2.5%;
  z-index: 1;
  vertical-align: "center";
}

#sound-wave-container {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
  bottom: 50%;
  width: 500px;
}
